# build artifacts
build/

# editor
.vscode/

# binaries
*.o
*.a
*.out
*.exe

# logs & data
*.log
*.bin

# ---- wav files ----
# 基本は無視
*.wav

# 親ディレクトリを許可
!output/
!output/adc_data/

# このフォルダの wav だけ管理
!output/adc_data/*.wav

# generated outputs
output/

# generated outputs
output/
